.idea/
**/.idea/
**/x64
**/Debug
**/Release
*.pdb
**/.vs/
.vs/
**/__pycache__
__pycache__
__pycache__/*
__pycache__/**
**.log*
*.log*
mythic.log*
mythic.log
*.exe
*.exe
.vscode/*
.vscode
**/build
build/
build